canvas {
    position: fixed;
    left: 0%;
    top: 0%;
}

#boxes {
    position: fixed;
    right: 0;
    top: 0;
    width: 250px;
    height: 100%;
    background-color: #c7c7c7;
    overflow-y: scroll;
    overflow-x: hidden;
    transform: scale(1, -1);
}

.box {
    width: 222px;
    height: 75px;
    margin: 5px;
    background-color: #e7e7e7;
    position: relative;
}

.arrow {
    position: absolute;
    width: 30px;
    height: 30px;
    margin: 5px;
    right: 0;
    text-align: center;
    font-size: 30px;
    background-color: #fff;
}

.arUp {
    top: 0;
}

.arDn {
    transform: rotate(180deg);
    bottom: 0;
}

.color {
    margin: 5px;
    position: absolute;
    left: 0;
    top: 0;
    width: 65px;
    height: 65px;
}